<!DOCTYPE html>
<!-- saved from url=(0029)http://m.smzdm.com/p/6022538/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="applicable-device" content="mobile">
    <title><%- title %></title>
    <meta name="description" content="<%- title %>">
    <meta name="keywords" content="<%- title %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link href="/detail_files/main.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--content_show end-->
<!--content_show-->
<article id="content_show" class="detail">
    <% if (mall) { %>
    <address><%- mall %></address>
    <% } %>
    <h1><%- title %></h1>
    <% if (price_txt) { %>
    <p class="special_tips"><%- price_txt %></p>
    <% } %>
    <a href="<%- url %>"><div class="userMsg"><%- from %> | <%- time.iso %></div></a>
    <div class="detail_content">
        <div class="img_small_wrap">
            <% if (buy_url) { %>
            <img src="<%- pic_left.url %>" alt="<%- title %>">
            <a href="<%- buy_url %>"  title="去看看" target="_blank" class="direct_link">去看看 &gt;</a>
            <% } %>
        </div>
        <%- content_html %></div>
    <!--share-->
    <a class="button_share">
        <img class="icons icon_share" src="/images/icon_hand_frs_click.png"></i>
        赞
    </a>
    <!--share end-->
    <div class="worth_number"><i class="icons icon_logo42"><img src=""></i><b><%- good %></b>位认为赞！</div>
    <% if (buy_url) { %>
    <a href="<%- buy_url %>"  title="去看看" target="_blank" class="direct_link">去看看 &gt;</a>
    <% } %>
    <div class="comments">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="<%- objectId %>objectId" data-title="<%- title %>" data-url="qicaidang.cn/content/<%-objectId %>"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"qicaidang"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>

</article>
<!--content_show end-->




</body></html>