<!DOCTYPE html>
<html><head class="head_banner"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="applicable-device" content="mobile">
    <title><%- title %>-摄影器材党</title>
    <meta name="description" content="<%- title %>-摄影器材党">
    <meta name="keywords" content="<%- title %>,摄影器材党">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1">
    <meta property="og:url" content="www.qicaidang.cn">
    <meta property="og:title" content="<%- title %>-摄影器材党">
    <meta property="og:image" content="">
    <meta property="og:description" content="摄影器材党（qicaidang.cn）是一个中立的摄影内容聚合网站、致力于帮助广大摄影爱好者发现、找到适合自己的器材，并在正确的时机以最合适、最值的价格买到摄影器材。网站收录了所有摄影器材，每天都会提供经过甄选的、优质的国内、海外摄影资讯、新器材、新评测、最新降价等信息，值得您每天都来看看。">
    <link rel="canonical" href="http://www.qicaidang.cn/">
    <meta name="keywords" content="摄影,器材党,器材,器材网,器材党官网,器材党官方网站,相机入魔,摄影资讯,器材评测,值得买,剁手,相机,摄像机">
    <meta name="description" content="摄影器材党（qicaidang.cn）是一个中立的摄影内容聚合网站、致力于帮助广大摄影爱好者发现、找到适合自己的器材，并在正确的时机以最合适、最值的价格买到摄影器材。网站收录了所有摄影器材，每天都会提供经过甄选的、优质的国内、海外摄影资讯、新器材、新评测、最新降价等信息，值得您每天都来看看。">
    <link rel="shortcut icon" href="/images/icons.png"/>
    <link href="/detail_files/main.css" rel="stylesheet" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?20dffd3de11175e757cb00a803686882";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<a href="/">
    <header class="head_banner">
        <h1 id="logo">器材党</h1>
    </header>
</a>
<!--content_show end-->
<!--content_show-->
<article id="content_show" class="detail">
    <% if (mall) { %>
    <address><%- mall %></address>
    <% } %>
    <h1><%- title %></h1>
    <% if (price_txt) { %>
    <p class="special_tips"><%- price_txt %></p>
    <% } %>
    <a href="<%- url %>"><div class="userMsg"><%- from %> | <%- time.iso %></div></a>
    <div class="detail_content">
        <div class="img_small_wrap">
            <% if (buy_url) { %>
            <img src="<%- pic_left.url %>" alt="<%- title %>">
            <a href="<%- buy_url %>"  title="去看看" target="_blank" class="direct_link">去看看 &gt;</a>
            <% } %>
        </div>
        <%- content_html %></div>
    <!--share-->
    <a class="button_share" onclick="<%- rating(objectId, "Post", good)%>" href="" >
        <img class="icons icon_share" src="/images/icon_hand_frs_click.png"></i>
        赞
    </a>
    <!--share end-->
    <div class="worth_number"><i class="icons icon_logo42"><img src=""></i><b><%- good %></b>个赞！</div>
    <% if (buy_url) { %>
    <a href="<%- buy_url %>"  title="去看看" target="_blank" class="direct_link">去看看 &gt;</a>
    <% } %>

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2108457"></script>
<!-- UY END -->

</article>
<!--content_show end-->



<script type='text/javascript'>
 var _jjl = new Date().toDateString().replace(/\s/g, '') + new Date().toTimeString().replace(/:\d{2}:\d{2}\sUTC[+]\d{4}$/g, '');
 document.write(unescape("%3Cscript src='http://p.yiqifa.com/js/juejinlian.js' type='text/javascript'%3E%3C/script%3E"));
 document.write(unescape("%3Cscript src='http://p.yiqifa.com/jj?_jjl.js' type='text/javascript'%3E%3C/script%3E"));
 document.write(unescape("%3Cscript src='http://p.yiqifa.com/js/md.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type='text/javascript'>
try{ 
 var siteId = 854488;
 document.write(unescape("%3Cscript src='http://p.yiqifa.com/jj?sid=" + siteId + "&_jjl.js' type='text/javascript'%3E%3C/script%3E"));
 var jjl = JueJinLian._init(); 
 jjl._addWid(siteId);
 jjl._addE("qcd");
 jjl._addScope(0);
 jjl._run(); 
}catch(e){} 
</script>

<script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body></html>
