<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="applicable-device" content="mobile">
    <title>器材党-器材库-<%- title %></title>
    <meta name="description" content="器材党-器材库-<%- title %>">
    <meta name="keywords" content="器材党-器材库-<%- title %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta property="og:url" content="www.qicaidang.cn">
    <meta property="og:title" content="器材党-<%- title %>">
    <meta property="og:image" content="">
    <meta property="og:description" content="器材党（qicaidang.cn）是一个中立的摄影内容聚合网站、致力于帮助广大摄影爱好者发现、找到适合自己的器材，并在正确的时机以最合适、最值的价格买到摄影器材。网站收录了所有摄影器材，每天都会提供经过甄选的、优质的国内、海外摄影资讯、新器材、新评测、最新降价等信息，值得您每天都来看看。">
    <link rel="canonical" href="http://www.qicaidang.cn/">
    <meta name="keywords" content="器材党,摄影,器材,器材网,器材党官网,器材党官方网站,相机入魔,摄影资讯,器材评测,值得买,剁手,相机,摄像机">
    <meta name="description" content="器材党（qicaidang.cn）是一个中立的摄影内容聚合网站、致力于帮助广大摄影爱好者发现、找到适合自己的器材，并在正确的时机以最合适、最值的价格买到摄影器材。网站收录了所有摄影器材，每天都会提供经过甄选的、优质的国内、海外摄影资讯、新器材、新评测、最新降价等信息，值得您每天都来看看。">
    <meta name="application-name" content="器材党-<%- title %>">
    <link rel="shortcut icon" href="/images/icons.png"/>
    <link href="/detail_files/main.css" rel="stylesheet" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?20dffd3de11175e757cb00a803686882";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<a href="/">
    <header class="head_banner">
        <h1 id="logo">器材党</h1>
    </header>
</a>
<!--content_show end-->
<!--content_show-->
<article id="content_show" class="detail">
    <h1><%- title %></h1>
    <div class="userMsg"><%- type %></div>
    <div class="detail_content">
        <div class="img_small_wrap">
            <img src="<%- pic_file.url %>" alt="<%- title %>">
        </div>
        <%- short_info %>
        <div class="spces-box">
            <h1 class="t-12 "> 详细参数:</h1>
            <div class="more-slide show">
                <table border="1" cellspacing="0" class="table-01">
                    <colgroup>
                        <col width="160">
                        <col>
                    </colgroup>
                    <tbody>
                    <% for(var key in infos) {%>
                    <tr >
                        <th>
                            <%- key %>
                        </th>
                        <td><span class="js-detail-col2" attr_id="7" union="0"> <%- infos[key] %></span></td>
                    </tr>
                    <% } %>
                    </tbody></table>
            </div>
        </div>
    </div>
    <!--share-->
    <a class="button_share" onclick="<%- rating(objectId, "Lib", good) %>;">
        <img class="icons icon_share" src="/images/icon_hand_frs_click.png"></i>
        赞
    </a>
    <!--share end-->
    <div class="worth_number"><i class="icons icon_logo42"><img src=""></i><b><%- good %></b>个赞！</div>
    <div class="comments">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="<%- objectId %>" data-title="<%- title %>" data-url="qicaidang.cn/device/<%-objectId %>"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"qicaidang"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>

</article>
<!--content_show end-->




</body></html>