<!DOCTYPE html>
<!-- saved from url=(0020)http://angularjs.cn/ -->
<html ><head class="head_banner"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <!--<meta name="applicable-device" content="mobile">-->
    <title>器材党-<%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta property="og:url" content="www.qicaidang.cn">
    <meta property="og:title" content="器材党-<%- title %>">
    <meta property="og:image" content="">
    <meta property="og:description" content="器材党（qicaidang.cn）是一个中立的摄影内容聚合网站、致力于帮助广大摄影爱好者发现、找到适合自己的器材，并在正确的时机以最合适、最值的价格买到摄影器材。网站收录了所有摄影器材，每天都会提供经过甄选的、优质的国内、海外摄影资讯、新器材、新评测、最新降价等信息，值得您每天都来看看。">
    <link rel="canonical" href="http://www.qicaidang.cn/">
    <meta name="keywords" content="器材党,摄影,器材,器材网,器材党官网,器材党官方网站,相机入魔,摄影资讯,器材评测,值得买,剁手,相机,摄像机">
    <meta name="description" content="器材党（qicaidang.cn）是一个中立的摄影内容聚合网站、致力于帮助广大摄影爱好者发现、找到适合自己的器材，并在正确的时机以最合适、最值的价格买到摄影器材。网站收录了所有摄影器材，每天都会提供经过甄选的、优质的国内、海外摄影资讯、新器材、新评测、最新降价等信息，值得您每天都来看看。">
    <meta name="application-name" content="器材党-<%- title %>">
    <link rel="shortcut icon" href="/images/icons.png"/>
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
    <link href="/detail_files/main.css" rel="stylesheet" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?20dffd3de11175e757cb00a803686882";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<a href="/">
    <header class="head_banner">
        <h1 id="logo">器材党</h1>
    </header>
</a>
<div class="pure-u-1">
    <!-- ngView:  --><div id="main" ng-view="" class="ng-scope"><div class="pure-g-r wrap ng-scope"><div class="pure-u-2-3"><!-- ngInclude:  -->
                <div class="panel ng-scope" ng-include="" src="parent.getTpl">
                    <ul class="nav nav-tabs inner ng-scope">
                        <li <% if (doc_type == 'all'){%>class="active"<% }%>><a href="/" title="最新">最新</a></li>
                        <li <% if (doc_type == 'news'){%>class="active"<% }%>><a href="/news" title="资讯">资讯</a></li>
                        <li <% if (doc_type == 'buy'){%>class="active"<% }%>><a href="/buy" title="剁手">剁手</a></li>
                        <!--<li <% if (doc_type == 'lib'){%>class="active"<% }%>><a href="/lib" title="器材库">器材库</a></li>-->
                    </ul>
                    <!--<ul class="list-inline inner ng-scope">&lt;!&ndash; ngRepeat: tag in global.tagsList &ndash;&gt;-->
                        <!--<li ng-repeat="tag in global.tagsList" class="ng-scope">-->
                            <!--<a ng-href="/T03f" class="pure-button pure-button-xsmall info-bg ng-binding" href="http://angularjs.cn/T03f">JavaScript异步编程</a>-->
                        <!--</li>&lt;!&ndash; end ngRepeat: tag in global.tagsList &ndash;&gt;-->
                        <!--<li ng-repeat="tag in global.tagsList" class="ng-scope">-->
                            <!--<a ng-href="/T01O" class="pure-button pure-button-xsmall info-bg ng-binding" href="http://angularjs.cn/T01O">websocket</a>-->
                        <!--</li>&lt;!&ndash; end ngRepeat: tag in global.tagsList &ndash;&gt;<li ng-repeat="tag in global.tagsList" class="ng-scope">-->
                            <!--<a ng-href="/T01w" class="pure-button pure-button-xsmall info-bg ng-binding" href="http://angularjs.cn/T01w">angular</a>-->
                        <!--</li>&lt;!&ndash; end ngRepeat: tag in global.tagsList &ndash;&gt;<li>-->
                            <!--<a href="http://angularjs.cn/tag" class="pure-button pure-button-xsmall">-->
                            <!--更多</a>-->
                        <!--</li>-->
                    <!--</ul>-->

                    <ul class="list list_preferential" id="post_list_preferential">
                        <% items.forEach(function(info){%>
                        <li class="media">
                            <a href="/content/<%- info.objectId%>" target="_blank" >
                            <div class="image_wrap">
                                <i class="icons icon_tags icon_tag_top"></i>
                                <div class="image"><img src="<%- info.pic_left.url%>" alt="<%- info.title%>"/></div>
                                <span class="s_icon"><%- info.doc_type%></span>
                            </div>
                            <address><span><%- info.time.iso%></span></address>

                            <h2><%- info.title%></h2>
                            </a>
                            <div class="tips"><em><%- info.price_txt%></em><span><img class="icons icon_comment" src="/images/icon_hand_frs_click.png"></i><%- info.good%></span></div>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                <div gen-pagination="pagination">
                    <ul class="pagination">
                        <li class=""><a  title="上一页" href="/<% if (doc_type != 'all'){%><%-doc_type%>/<% } %>p<%- page-1 %>" >«</a></li><!-- ngRepeat: n in showPages track by $index -->
                        <li class="active"><a ng-href="" title="第<%- page %>页" >第<%- page %>页</a></li><!-- end ngRepeat: n in showPages track by $index -->
                        <li class=""><a  title="下一页" href="/<% if (doc_type != 'all'){%><%-doc_type%>/<% } %>p<%- page+1 %>">»</a></li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="panel pure-hidden-phone">
                    <div class="inner text-center">
                        <img src="http://7xkfm0.com1.z0.glb.clouddn.com/nikon.jpg" alt="nikon">
                        <div class="text-show text-left">我们爱摄影、爱器材；我们是骄傲的器材党！</div>
                    </div>
                </div>
                <div class="panel pure-hidden-phone">
                    <div class="inner text-center">
                        <a href="" target=""><img src="http://7xkfm0.com1.z0.glb.clouddn.com/canon.jpg" alt="canon"></a>
                    </div>
                </div>
                <div class="panel pure-hidden-phone">
                    <div class="inner text-center"><a href="" target="">
                            <img src="http://7xkfm0.com1.z0.glb.clouddn.com/fuji.jpg" alt="fuji"></a>
                    </div>
                </div>
                <div class="panel pure-hidden-phone"><div class="inner text-center">
                        <a href="/feedback" target="">
                            <img src="http://7xkfm0.com1.z0.glb.clouddn.com/olympus.jpg" alt="m43系统">
                            意见反馈
                        </a>
                    </div>
                </div>
                <div class="panel site-link"><div class="panel-heading muted"><i class="fa fa-link"></i>友情链接</div><ul class="inner">
                        <li><a href="http://www.qiongsandai.com/" target="_blank"><img src="http://7xkfm0.com1.z0.glb.clouddn.com/slogan.png?imageView2" alt="qiongsandai.com"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pure-u-1 footer">
    <div class="wrap">
        <a class="muted ng-binding" href="">器材党</a> ©2016 Powered by
        <a href="mailto:info@qicaidang.cn" target="_blank" class="ng-binding">zeka<i class="fa fa-flag hot"></i></a>
<span ng-show="!global.isPhone">
&nbsp;<a class="muted ng-binding" href="" target="_blank"></a>
&nbsp;<a class="muted ng-binding" href="" target="_blank"></a>
&nbsp;<a class="muted ng-binding" href="" target="_blank"></a>
&nbsp;<span class="ng-binding"></span>
</span>
    </div>
</div>

</body></html>